<p>landingpage works!</p>
<img src="../../assets/image/img3.jpg" width="400" title="myimages">
<img src="../../assets/image/img3.jpg" [width]="500" [title]="'myimage'" >
<img src="../../assets/image/img3.jpg" [width]="500" [title]="[a]">
<h1 [align]="[t]">heading one</h1>
<p style="color:red">this is paragraph</p>
<p [ngStyle]="{'color':'red',backgroundColor:'blue'}">this is paragraph</p>
<h3 class="abc">use of class</h3>
<h3 [ngClass]="'abc xyz'">use of class</h3>
<h3 [ngClass]="['abc','xyz']">use of class</h3>

<h3 [ngClass]="{'abc':true,'xyz':true,'hide':cond}">use of class</h3>
<h1>use of angular pipes (filter)</h1>
<hr/>
<h2>{{mytext | uppercase}}</h2>
<h2>{{mytext | titlecase}}</h2>

<h2>{{a |  currency}}</h2>
<h2>{{a |  currency:'INR' }}</h2>
<h2>{{a |  currency:'RS.' }}</h2>

<h2>{{a | number}}</h2>
<h2>{{a | number}}</h2>

<h1 [ngStyle]="{'color':'red','text-align':'center'}">{{myd | date:'full'}}</h1>




