.abc
{
    color:red;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.xyz
{
    font-weight: 900;
    text-decoration: underline;
}
.hide
{
    background-color: aqua;
    
}