<form [formGroup]="myform" (ngSubmit)="mysubmitform()">
    <div class="container border shadow p-5 mt-2 bg-light page">
        <div class="row">
            <div class="col-12 text-center">
                <p class="h1">user Registor Page</p>
            </div>
            <div class="col-md-6 mt-2">
                <label class="form-label">FullName</label>
                <input type="text" class="form-control" formControlName="fullname" >
                <!-- <div class="text-danger">fullname is required</div> -->
            </div>
            <div class="col-md-6 mt-2">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="col-md-6 mt-2">
                <label class="form-label">Gender</label>
                <select class="form-control" formControlName="gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="col-md-6 mt-2">
                <label class="form-label">Phone No</label>
                <input type="text" class="form-control" formControlName="phone">
            </div>
            <div class="col-md-6 mt-2">
                <label class="form-label">Create Password</label>
                <input type="password" class="form-control" formControlName="pass">
            </div>
            <div class="col-md-6 mt-2">
                <label class="form-label">Remarks</label>
                <textarea class="form-control" formControlName="remark">type comment</textarea>
            </div>
            <div class="col-md-12 text-center mt-3">
               <button class="btn btn-primary"> Registor </button>
               <!-- <a class="btn btn-primary"> Registor </a> -->
               <button class="btn btn-danger ms-3"> Cancel </button>
            </div>
            
        </div>
    </div>
    </form>