<form [className]="['loginpage']" [formGroup]="loginform" (ngSubmit)="mylogin()">
    <div class="container border shadow p-5 mt-2 bg-light page">
        <div class="row">
            <div class="col-12 text-center">
                <p class="h1">User Login Page</p>
            </div>
            <div class="col-md-12 mt-2">
                <label class="form-label">Email Id</label>
                <input type="email" class="form-control" formControlName="user">
                
            </div>
            <div class="col-md-12 mt-2">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="pass">
            </div>
            
            <div class="col-md-12 text-center mt-3">
               <button class="btn btn-primary"> Login </button>
               <!-- <a class="btn" [routerLink]="['/dashboard']"> Homepage </a> -->
               <a class="btn" [routerLink]="['registor']"> New User </a>
               <!-- <button class="btn btn-danger ms-3"> Cancel </button> -->
            </div>
            
        </div>
    </div>
    </form>