<div>
    <section>
        <h1>parent works!</h1>
        <p>{{first}}</p>
        <!-- <select>
            <option *ngFor="let a of mydataup">{{a}}</option>
        </select> -->
        <select>
            <option *ngFor="let a of mydataup">{{a.name}}</option>
        </select>
        <select>
            <option *ngFor="let a of mydataup">{{a.age}}</option>
        </select>
        <select>
            <option *ngFor="let a of mydataup">{{a.course}}</option>
        </select>
    </section>
    <section>
        <h1>this is child element</h1>
        <!-- <app-child [xyz]="first" [mysta]="mystatus"></app-child> -->
        <app-child [xyz]="a" [mysta]="mystatus" (mydata)="mydataup=$event"></app-child>
    </section>
</div>




